.user-edit {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &-save {
    align-self: center;
    &-btn {
      width: 180px;
    }
  }
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
